<!DOCTYPE html>
<html>
    <head>
        <title>UNC Group 6 Project</title>
        <link rel="stylesheet" href="./style.css">
    </head>

    <body>
        <header>
            <h1>AmeriNotes</h1>
        </header>

        <div id="map">
            <button id="Alabama">AL</button>
            <button id="Alaska">AK</button>
            <button id="Arizona">AZ</button>
            <button id="Arkansas">AR</button>
            <button id="California">CA</button>
            <button id="Colorado">CO</button>
            <button id="Cennectucut">CT</button>
            <button id="Delaware">DE</button>
            <button id="Florida">FL</button>
            <button id="Georgia">GA</button>
            <button id="Hawaii">HI</button>
            <button id="Idaho">ID</button>
            <button id="Illinois">IL</button>
            <button id="Indiana">IN</button>
            <button id="Iowa">IA</button>
            <button id="Kansas">KS</button>
            <button id="Kentucky">KY</button>
            <button id="Luisiana">LA</button>
            <button id="Maine">ME</button>
            <button id="Maryland">MD</button>
            <button id="Massachusetts">MA</button>
            <button id="Michigan">MI</button>
            <button id="Minnasota">MN</button>
            <button id="Mississippi">MS</button>
            <button id="Missuri">MO</button>
            <button id="Montana">MT</button>
            <button id="Nebraska">NE</button>
            <button id="Nevada">NV</button>
            <button id="New_Hampshire">NH</button>
            <button id="New_Jersey">NJ</button>
            <button id="New_Mexico">NM</button>
            <button id="New_York">NY</button>
            <button id="North_Carolina">NC</button>
            <button id="North_Dakota">ND</button>
            <button id="Ohio">OH</button>
            <button id="Oklahoma">OK</button>
            <button id="Oregon">OR</button>
            <button id="Pennsylvania">PA</button>
            <button id="Rhode_Island">RI</button>
            <button id="South_Carolina">SC</button>
            <button id="South_Dakota">SD</button>
            <button id="Tennessee">TN</button>
            <button id="Texas">TX</button>
            <button id="Utah">UT</button>
            <button id="Vermont">VT</button>
            <button id="Virginia">VA</button>
            <button id="Washington">WA</button>
            <button id="West_Virginia">WV</button>
            <button id="Wisconsin">WI</button>
            <button id="Wyoming">WY</button>
            <button id="DC">DC</button>
        </div>
    </body>
</html>