<div class="container vstack"> 
    <h2>Log in</h2>
    <br>
        <input type="text" placeholder="username" id="login-username">
        <br>
        <input type="password" placeholder="password" id="login-password">
        <br>
        <button id="login-form" class="btn btn-primary">Submit</button>
</div>
<script src="/js/login.js"></script>