<div class="container vstack"> 
    <h2>Sign up</h2>
    <br>
        <input type="text" placeholder="username" id="signup-username">
        <br>
        <input type="text" placeholder="password" id="signup-password">
        <br>
        <button id="signup-form" class="btn btn-primary">Submit</button>
</div>
<script src="/js/signup.js"></script>