<div class="container vstack" id="signup-container"> 
    <h2>Sign up</h2>
    <br>
        <input type="text" placeholder="username" id="signup-username">
        <br>
        <input type="password" placeholder="password" id="signup-password">
        <br>
        <button id="signup-form" class="btn btn-primary">Submit</button>
        <br>
        <span>Already have an account? </span><a href="/login">Log in</a>
</div>

<script src="/js/signup.js"></script>