/* body{
    background-image: url(/images/background_img.jpg);
} */

/* header{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.state-button{
    height: 50px;
    width: 50px;
}

#post-button{
    height:35px;
    margin-top: 10px;
}
#map{
    position: absolute;
    align-items: center;
    border-color: black;
}

#info{
    /* width: 150px; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    left: 700px;
    top: 200px;
}

#Alabama{position:absolute; left:300px; top:300px}
#Alaska{position:absolute; left:0px; top:0px}
#Arizona{position:absolute; left:50px; top:250px}
#Arkansas{position:absolute; left:200px; top:250px}
#California{position:absolute; left:0px; top:200px}
#Colorado{position:absolute; left:100px; top:200px}
#Cennectucut{position:absolute; left:450px; top:150px}
#Delaware{position:absolute; left:450px; top:200px}
#Florida{position:absolute; left:400px; top:350px}
#Georgia{position:absolute; left:350px; top:300px}
#Hawaii{position:absolute; left:0px; top:350px}
#Idaho{position:absolute; left:50px; top:100px}
#Illinois{position:absolute; left:250px; top:100px}
#Indiana{position:absolute; left:250px; top:150px}
#Iowa{position:absolute; left:200px; top:150px}
#Kansas{position:absolute; left:150px; top:250px}
#Kentucky{position:absolute; left:250px; top:200px}
#Luisiana{position:absolute; left:200px; top:300px}
#Maine{position:absolute; left:500px; top:0px}
#Maryland{position:absolute; left:400px; top:200px}
#Massachusetts{position:absolute; left:450px; top:100px}
#Michigan{position:absolute; left:300px; top:100px}
#Minnasota{position:absolute; left:200px; top:100px}
#Mississippi{position:absolute; left:250px; top:300px}
#Missuri{position:absolute; left:200px; top:200px}
#Montana{position:absolute; left:100px; top:100px}
#Nebraska{position:absolute; left:150px; top:200px}
#Nevada{position:absolute; left:50px; top:150px}
#New_Hampshire{position:absolute; left:500px; top:50px}
#New_Jersey{position:absolute; left:400px; top:150px}
#New_Mexico{position:absolute; left:100px; top:250px}
#New_York{position:absolute; left:400px; top:100px}
#North_Carolina{position:absolute; left:300px; top:250px}
#North_Dakota{position:absolute; left:150px; top:100px}
#Ohio{position:absolute; left:300px; top:150px}
#Oklahoma{position:absolute; left:150px; top:300px}
#Oregon{position:absolute; left:0px; top:150px}
#Pennsylvania{position:absolute; left:350px; top:150px}
#Rhode_Island{position:absolute; left:500px; top:150px}
#South_Carolina{position:absolute; left:350px; top:250px}
#South_Dakota{position:absolute; left:150px; top:150px}
#Tennessee{position:absolute; left:250px; top:250px}
#Texas{position:absolute; left:150px; top:350px}
#Utah{position:absolute; left:50px; top:200px}
#Vermont{position:absolute; left:450px; top:50px}
#Virginia{position:absolute; left:350px; top:200px}
#Washington{position:absolute; left:0px; top:100px}
#West_Virginia{position:absolute; left:300px; top:200px}
#Wisconsin{position:absolute; left:250px; top:50px}
#Wyoming{position:absolute; left:100px; top:150px}
#DC{position:absolute; left:400px; top:250px}

@media only screen and (max-width: 850px){
    #info{
        position: absolute;
        left: 50px;
        top: 700px;
    }
}
